body {
    font-family: Arial, sans-serif;
    width: 200px;
    padding: 10px;
}

h1 {
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.loader-fullscreen {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}

.loader-fullscreen-label {
    position: relative;
    text-transform: uppercase;
    color: black;
    font-size: 6em;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 90%;
    line-height: 1.2;
}

.loader-fullscreen-fill {
    position: absolute;
    width: 100%;
    bottom: 0px;
    background-color: #007BFF;
    transition: height 1s ease-in-out;
}
